
@{
    ViewBag.Title = "index";
}

<h2>index</h2>
<form action="Index" method="post">
    <textarea name="text" placeholder="Text"></textarea>
    <input name="imageURL" type="file" />
    <button>Опубликовать</button>
</form>
