
@{
    ViewBag.Title = "index";
}

<h2>index</h2>

<div>
    @foreach(var news in ViewBag.News)
    {
        <div>
            <h3>
                @news.Text
            </h3>
            <img src="@news.ImagePath" />

        </div>
    }
</div>
